.mc-lists.el
backups/
elpa/
places
request/
auto-save-list/
/history
/ido.last
/recentf
projectile-bookmarks.eld
/tramp
/projectile.cache
/url/
/.sx/
/.stackmode/
/secret.el
var/
xkcd/
games/
/ac-comphist.dat
/custom.el
