*.cache
*.dat
*.el
*.elc
*.eld
*.html
*.org_archive
*.sh
!init.sh
.DS_Store
.org-id-locations
auto-save-list/
backups/
bbdb
bbdb-vcard/
bookmarks
diary
elfeed.org
elpa/
eshell/
eshell/history
eshell/lastdir
games/
history
mu/
network-security.data
org-gcal/
org-mode/
owp-temp.d/
recentf
request/
snippets/
tldr/
tramp
url/
var/
/magithub/cache
