/#recentf#
/*.el
/*.elc
/*.org_archive
/.org-id-locations
/amx-items
/auto-save-list/
/backups/
/bookmarks
/elfeed.org
/elpa/
/eshell/
/eshell/history
/eshell/lastdir
/forge-database.sqlite
/games/
/history
/network-security.data
/persist/
/projectile-bookmarks.eld
/projectile.cache
/recentf
/tramp
/transient/
/url/
/var/
/request/
.lsp-session-*
